body {
	background-color: #A4D3D2;
  color: #467F9A;
  font-family: 'Josefin Sans', sans-serif;
}

/*BASE BODY STYLING*/
.main-container {
  background-color: #ffffff;
  max-width: 60%;
  margin: auto;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #467F9A;
  text-align: center;
}

footer {
  bottom : 2px;  
  height : 40px;  
  margin-top : 40px;  
  text-align: center;  
  vertical-align: middle; 
  position:relative;
  width:100%;
}


.content-box li {
  list-style: none;
  display: inline-flex;
}

.contact-image {
  width: 50px;
  height: 50px;
}



/*HOME BUTTON STYLING*/
.homeButton {
  background: #467F9A;
  background-image: -webkit-linear-gradient(top, #467F9A, #9AB9C7);
  background-image: -moz-linear-gradient(top, #467F9A, #9AB9C7);
  background-image: -ms-linear-gradient(top, #467F9A, #9AB9C7);
  background-image: -o-linear-gradient(top, #467F9A, #9AB9C7);
  background-image: linear-gradient(to bottom, #467F9A, #9AB9C7);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 20px 7px 20px;
  text-decoration: none;
}

.homeButton:hover {
  background: #9AB9C7;
  background-image: -webkit-linear-gradient(top, #9AB9C7, #9AB9C7);
  background-image: -moz-linear-gradient(top, #9AB9C7, #9AB9C7);
  background-image: -ms-linear-gradient(top, #9AB9C7, #9AB9C7);
  background-image: -o-linear-gradient(top, #9AB9C7, #9AB9C7);
  background-image: linear-gradient(to bottom, #9AB9C7, #9AB9C7);
  text-decoration: none;
}

.homeInput {
	height: 25px;
	width: 250px;
	font-size: 21px;
}

.aboutArticle {
	border: 1px solid black;
	width: 400px;
	margin-top: 40px;
	margin-bottom: 45px;
	margin-left: 60px;
	padding-left: 20px;
	padding-right: 20px;
}

/*coupon code text*/
#couponCode {
color: black;
}
