body {
	background-color: #A4D3D2;
  color: #467F9A;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

/*BASE BODY STYLING*/
.main-container {
  background-color: #ffffff;
  max-width: 60%;
  margin: 0 auto 0;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #467F9A;
  text-align: center;
}

.secondary-container {
  background-color: #ffffff;
  max-width: 60%;
  margin: 0 auto 0;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #467F9A;
  
}

footer {
  bottom : 2px;  
  height : 40px;  
  margin-top : 40px;  
  text-align: center;  
  vertical-align: middle; 
  position:relative;
  width:100%;
}


.content-box li {
  list-style: none;
  display: inline-flex;
}

.contact-image {
  width: 50px;
  height: 50px;
}



/*HOME BUTTON STYLING*/
.homeButton {
  background: #467F9A;
  background-image: -webkit-linear-gradient(top, #467F9A, #9AB9C7);
  background-image: -moz-linear-gradient(top, #467F9A, #9AB9C7);
  background-image: -ms-linear-gradient(top, #467F9A, #9AB9C7);
  background-image: -o-linear-gradient(top, #467F9A, #9AB9C7);
  background-image: linear-gradient(to bottom, #467F9A, #9AB9C7);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 20px 7px 20px;
  text-decoration: none;
}

.homeButton:hover {
  background: #9AB9C7;
  background-image: -webkit-linear-gradient(top, #9AB9C7, #9AB9C7);
  background-image: -moz-linear-gradient(top, #9AB9C7, #9AB9C7);
  background-image: -ms-linear-gradient(top, #9AB9C7, #9AB9C7);
  background-image: -o-linear-gradient(top, #9AB9C7, #9AB9C7);
  background-image: linear-gradient(to bottom, #9AB9C7, #9AB9C7);
  text-decoration: none;
}

.homeInput {
	height: 25px;
	width: 250px;
	font-size: 21px;
}

.aboutArticle {
	width: 390px;
  margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

/*coupon code text*/
#couponCode {
color: black;
}


/*NAVBAR STYLING*/

nav {
  background-color: #467F9A;
  margin: 0;
  padding: 10px;
  position: relative;
}

nav ul {
  margin: 0;
  list-style: none;
  color: #ffffff; 
}

nav li {
  display: inline-flex;
  justify-content: space-around;
  padding-right: 5px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

/*header image style*/

.header-image {
  background: linear-gradient(to right, rgba(70,127,154,0), rgba(70,127,154,1)),
  url("http://assets.nydailynews.com/polopoly_fs/1.1057284.1333730266!/img/httpImage/image.jpg_gen/derivatives/gallery_1200/kim-kardashian.jpg");
  background-position: center;
  margin: 0 auto;
  width: 60%;
  height: 300px;
  padding: 0;
}

.header-image h1 {
  margin: 0;
  position: absolute;
  top: 200px;
  font-size: 52px;
  color: #ffffff;
}

.header-image img {
  height: 300px;
  width: 100%;
  padding: 0;
  margin: 0;
}


/*CARD LAYOUT*/

.product {
  width: 400px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #467F9A;
  margin: 1%;
  padding: 2px;
  background-color: #ffffff;
}

.productImages  {
  max-width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.description > *{
  text-align: center;
  margin: 0;
}

.description {
  padding: 2%;
}

.description h6 {
  font-size: 1.5em;
  padding: 2%;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

/* Card Layout */

#productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

